.imgs_model_list{
    display: flex;
    flex-wrap: wrap;
}

.imgs_model_item{
    margin: 10px 10px;
    width: 90px;
    height: 90px;
    background-color: rgb(196, 233, 255);
    justify-content: center;
    align-items: center;
    display: flex;
}

.return_button{
    position: fixed !important;
    right: 60%;
    bottom: 95px;
}

.collect_button{
    position: fixed !important;
    right: 30%;
    bottom: 95px;
}

.rose_title {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}