.imgs_img_list{
    display: flex;
}

.imgs_head{
    margin: 10px 0;
}

.imgs_paginate{
    margin: 50px 0 !important;
}

.rose_box {
    background-color: #fafafa;
    width: 95%;
    margin: 20px auto;
    padding: 10px 0;
}
.rose_name {
    color: #2440b3;
    margin-left: 10px;
}

